.col-4 {
  display: inline-block;
  width: 10%;
}
.col-4-find-hike {
  display: inline-block;
  width: 80%;
}
#find-hike-form {
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: .5%;
  text-align: center;
  padding: 2%;
}
form label {
  display: block;
  font-size: 4.0vw;
  font-weight: bold;
  margin: 3% 0 2% 0;
}
#find-hike-form span {
  display: inline block;
  font-size: 3.75vw;
  margin: 1% 1% 2% 1%;
}
form button {
  margin: 3% 0 3% 0;
  padding: 2%;
}
@media screen and (min-width: 600px) {
  #find-hike-form {
    margin-top: 7%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: .5%;
    text-align: center;
    padding: 2%;
  }
  form label {
    display: block;
    font-size: 3.0vw;
    font-weight: bold;
    margin: 3% 0 3% 0;
  }
  #find-hike-form span {
    display: inline block;
    font-size: 2.5vw;
    margin: 1% 1% 2% 1%;
  }
}