.col-4 {
  display: inline-block;
  width: 10%;
}
.col-4-find-hike {
  display: inline-block;
  width: 80%;
}
#find-hike-form {
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: .5%;
  text-align: center;
  padding: 2%;
}
form label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 3% 0 2% 0;
}
#find-hike-form span {
  display: inline block;
  font-size: 18px;
  margin: 1% 1% 2% 1%;
}
#find-hike button {
  margin: 10px 0 20px 0;
  padding: 4% 5%;
  font-size: 18px;
  border-radius: 2%;
}
@media screen and (min-width: 500px) {
  #find-hike-form {
    margin-top: 7%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: .5%;
    text-align: center;
    padding: 2%;
  }
  form label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 3% 0 3% 0;
  }
  #find-hike-form span {
    display: inline block;
    font-size: 18px;
    margin: 1% 1% 2% 1%;
  }
  #find-hike button {
    margin: 10px 0 20px 0;
    padding: 3% 5%;
    font-size: 20px;
  }
}
@media screen and (min-width: 700px) {
  form label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 2% 0 2% 0;
  }
  #find-hike-form span {
    font-size: 20px;
  }
  #find-hike button {
    margin: 15px 0 5px 0;
    padding: 2% 5%;
    font-size: 20px;
  }
}