.col-3 {
  display: inline-block;
  width: 11%;
}
.col-3-content {
  display: inline-block;
  background: rgba(255, 255, 255, 0.75);
  border-radius: .5%;
  text-align: center;
  padding: 2%;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  width: 70%;
}
.col-3-content p {
  display: block;
  font-size: 20px;
  padding: 0 10px;
  margin: 20px 20px 15px 20px;
}
#index button {
  margin: 0 0 20px 0;
  padding: 5%;
}
@media screen and (min-width: 500px) {
  .col-3-content p {
    font-size: 3vw;
  }
}