html, body {
  height: 100%;
  font-family: 'Avenir';
}
body {
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-width: 300px;
  min-height: 100%;
}
main {
  top: 75px;
  bottom: 50px;
  width: 100%;
}
.clearfix {
  clear: both;
}
button {
  border: none;
  background:#263F59;
  color: #FFF;
  font-family: 'Avenir';
  border-radius: .5%;
}
a {
  text-decoration: none;
}
