body {
  position: relative;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}
header {
  height: 75px;
  z-index: 2;
}
header div {
  width: 1000px;
  margin: 0 auto;
}
header li {
  display: inline-block;
  float: right;
  margin-top: 40px;
  margin-right: 25px;
  font-size: 20px;
  color: #E1E9F4;
}
header li a {
  color: #E1E9F4;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 400;
  transition: 350ms all;
}
header li a:hover {
  color: #779DC2;
}
header li:first-child {
  float: left;
  font-size: 40px;
  margin-top: 20px;
  font-family: Lobster;
}
main {
  z-index: 0;
}
.column-1 {
  display: inline-block;
  width: 32%;
  float: left;
  height: 50px;
  z-index: -99;
}
/* found opacity tricks from https://css-tricks.com/almanac/properties/o/opacity/ */
.transparent-div {
  display: inline-block;
  color: #000000; background: rgba(255, 255, 255, 0.8);
  height: auto;
  width: 33%;
  margin-top: 14%;
  padding: 40px 10px;
  z-index: 100;
}
.column-2 {
  display: inline-block;
  width: 32%;
  float: right;
  height: 50px;
  z-index: -99;
}
.transparent-div p {
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
}
#main-button {
  background-color: rgba(36,62,90,1);
  border: none;
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  padding: 15px 15px;
  width: 70%;
  margin: 0% 15%;
}
/* Find Hike Form */
.find-hike {
  background-image: url('img/img13.jpg');
  background-size: cover;
  height: 70vh;
}
.find-hike-column-1 {
  display: inline-block;
  width: 20%;
  float: left;
  height: 50px;
}
/* found opacity tricks from https://css-tricks.com/almanac/properties/o/opacity/ */
.find-hike-div {
  display: inline-block;
  color: #000000; background: rgba(255, 255, 255, 0.9);
  height: auto;
  width: 60%;
  margin-top: 5%;
  padding: 20px 10px;
}
.find-hike-column-2 {
  display: inline-block;
  width: 20%;
  float: right;
  height: 50px;
}
.dark-header {
  color: #243E5A;
}
form {
  font-family: Raleway;
  text-align: center;
}
label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}
input {
  margin: 10px 0px 20px 10px;
}
span {
  margin-left: 5px;
  font-size: 17px;
}
form button {
  border: none;
  font-weight: bold;
  background-color: #243E5A;
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  padding: 15px 15px;
  width: 60%;
  margin: 2% 10%;
}
/* Hike Results */
#hike-results {
  background-size: cover;
}
.hike-results-body {
  margin: 5 auto;
}
#main-hike {
  font-family: Raleway;
  /* width: 50%; */
  /* align: center; */
  position: relative;
  z-index: 0;
  margin: 0 auto;
}
.transparent-box {
  /* display: inline-block; */
  color: #000000; background: rgba(255, 255, 255, 0.9);
  width: 60%;
  /* height: 50%; */
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  /* margin: auto; */
  position: relative;
  z-index: 99;
}
#main-hike-header {
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 10px;
}
#main-hike-ul li {
  margin-top: 5px;
}
.main-hike-text {
  z-index: 100;
  margin: 0 auto;
  padding: 20px 15px;
  position: relative;
  font-size: 18px;
}
.transparent-box2 {
  color: #000000; background: rgba(255, 255, 255, 0.9);
  width: 60%;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  z-index: 99;
}
#list-hike {
  z-index: 1;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
#list-hike-header {
  font-family: Raleway;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}
#list-hike-ul {
  line-height: 25px;
  font-size: 18px;
  margin: 0 auto;
  padding-left: 15px;
  padding-bottom: 15px;
}
li a {
  text-decoration: none;
  color: #243E5A;
  transition: 350ms all;
}
li a:hover {
color: #779DC2;
}
.hike-list-li {
  margin-top: 10px;
  font-family: Raleway;
}
li span {
  font-weight: bold;
}
/* About Us */
.about-us-header {
  background-color: #243E5A;
}
.about-us-header div {
  width: 1000px;
  margin: 0 auto;
}
.personal-photo {
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}
.about-us {
  background-color: #E1E9F4;
}
.about-us main {
  width: 960px;
  margin: 0 auto;
}
.about-us-section {
  display: inline-block;
  margin-top: 23px;
}
.about-us-section:last-child {
  margin-bottom: 20px;
}
h4 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.photo-div {
  margin-right: 15px;
  display: inline-block;
  float: left;
}
.bio-div {
  display: inline;
  font-family: Raleway;
}
.controls button{
  display: none;
}
.bio-div p {
  font-size: 17px;
}
.email {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #243E5A;
  transition: 350ms all;
}
.email:hover {
  color: #779DC2;
}
.logo {
  margin-top: 8px;
  margin-right: 5px;
}
.no-results{
  background-color: #E1E9F4;
}
.no-results-header{
  background-color: #243E5A;
}
#message{
  font-size: 25px;
  margin: 15% auto;
  margin-bottom: 5%;
  font-family: Raleway;
  text-align: center;
}
.button-message{
  font-size: 20px;
  margin: 0% 40% 5% 40.5%;
  background-color: #243E5A;
  color: white;
  padding: 20px 35px;
  width: 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: Raleway;
}
